{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
	<h1>About</h1>
	<hr>
    <div class="row-fluid">
    	<div class="span4">
    		<h2>Me</h2>
    	</div>
    	<div class="span8">
    		<p class="lead">I'm one of those guys who gets all excited about things like how the new HTML5 <code>&lt;video&gt;</code> element has built in fall-back functionality for different video formats.  Or about developer tools like <a href="http://incident57.com/codekit/" target="_blank">CodeKit</a> that manage, minify, and compile my site assets for me.  In short, I love learning and using modern web technologies.</p>
    		<p class="lead">I live near Seattle, Washington and I work for <a href="http://boeing.com" target="_blank">Boeing</a>.</p>
    	</div>
    </div>
    <hr>
    <div class="row-fluid">
	    <div class="span4">
	    	<h2>This Site</h2>
	    </div>
    	<div class="span8">
    		<p class="lead">This site has been lovingly built with a variety of web technologies.  It's a simple way for me to display some of the tools I've learned to use along the path to Super Awesome Web Developer Ninja status.</p>
    		<h3>Wok</h3>
    		<p>I decided to use a static HTML generator as the web framework for this site.  I had considered Wordpress, but since I had a really bad experience with having a WordPress site hacked, I thought I should go with something that avoids all of the security backdoors that I'm ignorant of.</p>
    		<p>Wok is similar to Hyde, and uses a variety of technologies including Jinja, YAML, and Markdown to create a project structure which is compiled into straight HTML pages.  I have found Wok to be very easy to set up and content maintenance is super easy with the YAML/Markdown content pages.  I use Wok in all of my simple website projects now, including Designicity, Wild Pines Counseling (in-work) and, of course, my own site.</p>
    		<h3>Bootstrap</h3>
    		<p><strong>I <span class="text-info">&hearts;</span> Bootstrap</strong>.  Bootstrap is the first web design pattern library (UI framework, whatever you want to call it) I've used with any regularity, and it is amazing.  While I've mostly seen it used for quick-and-dirty documentation sites, I have used it almost exclusively as a starting point for creating custom designs.  At the same time, I've fallen in love with LESS as a CSS preprocessor, and I honestly hope I never have to go back to writing straight CSS with any regularity.</p>
    		<p>The approach I take to creating custom designs with Bootstrap is to add extra LESS files which are compiled into the bootstrap.css and bootstrap-responsive.css output files.  I put these custom files at the end so I can over-ride the default patterns when needed.  This approach has worked out very nicely, and ensures that I can update the core Bootstrap files fairly easily without losing all of my customizations.</p>
    		<p>I've only used a few of the jQuery plugins included with Bootstrap, but once again, I tip my hat to @fat and @modo for crafting some masterful plug-ins.  The simplicity of each plugin, coupled with the impressive cross-browser support (*cough* Internet Exploiter) have made those stand out as the best suite of web design plug-ins I've ever seen.</p>
    	</div>
    </div-->
</div> <!-- /container -->
{% endblock body %}