{% extends "base.html" %}

{% block body %}
<div class="container">
	<h1>About</h1>
	<hr>
    <div class="row">
    	<div class="span4">
    		<h2>Me</h2>
    	</div>
    	<div class="span8">
    		<p class="lead">I'm one of those guys who gets all excited about things like how the new HTML5 <code>&lt;video&gt;</code> element has built in fall-back functionality for different video formats.  Or about developer tools like <a href="http://incident57.com/codekit/" target="_blank">CodeKit</a> that manage, minify, and compile my site assets for me.  In short, I love learning and using modern web technologies.</p>
    		<p class="lead">I live near Seattle, Washington and I work for <a href="http://boeing.com" target="_blank">Boeing</a>.</p>
    	</div>
    </div>
    <div class="row">
	    <div class="span4">
	    	<h2>This Site
	    </div>
    </div>
</div> <!-- /container -->
{% endblock body %}