{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="homepage-hero row">
	    <div class="span8 offset4">
	    	<div>
			    <h1>David Baughman</h1>
			    <h2>HTML5 Advocate.  CSS3 Enthusiast.  jQuery Aficionado.</h2>
	    	</div>
	    </div>
    </div>
    <div class="row">
    	<div class="span8 offset4">
    		<hr>
	    	<p class="lead">Hi, I'm David.  I enjoy <b>designing good-looking websites</b> for a living.  I'm a fairly recent addition to the web design community and I've loved every moment of the experience.</p>
	    	<p class="lead">I approach design by first <b>understanding the users' needs</b>--whether those users are corporate employees using a search engine, or developers using an API.</p>
	    	<p class="lead">I am an advocate of <b>open source technology</b> and am regularly inspired by developers like <a href="https://twitter.com/@paul_irish" target="_blank">Paul Irish</a>, the dynamic duo of <a href="https://twitter.com/@twbootstrap" target="_blank">Bootstrap</a>, and <a href="https://twitter.com/@lukew" target="_blank">Luke Wroblewski</a>.</p>
    	</div>
    </div>
</div> <!-- /container -->
{% endblock body %}