{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
	<h1>Work</h1>
	<hr>
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span8">
			<p class="lead">I currently work for <a href="http://boeing.com" target="_blank">Boeing</a> near Seattle.  I'm the lead designer for Enterprise Search, and we've been able to do a lot of fun design work as part of the new search engine that my group is implementing.</p>
			<p class="lead">I've just recently started doing freelance web design, which is way more fun.  It's so refreshing to work on projects where I'm not constrained by the lethargic environment of a large/old enterprise.</p>
		</div>
	</div>
	<br>
	<br>	
	<h2>Designicity</h2>
	<hr>
	<div class="row-fluid">
		<div class="span4">
			<p><b>Link</b>: <a href="http://designicity.com" target="_blank">http://designicity.com</a></p>
			<p><b>Release Date</b>: October 23, 2012</p>
			<p><b>Current Status</b>: Production</p>
			<p><b>Technologies Used</b>: <a href="http://wok.mythmon.com/">Wok</a>, <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://masonry.desandro.com/">Masonry</a>, <a href="http://gianlucaguarini.com/canvas-experiments/jQuery.BlackAndWhite/">jQuery.BlackAndWhite</a></p>
			<p><b>Source</b>: <a href="https://github.com/dmbaughman/designicity">github</a></p>
			<p><b>Comments</b>: This is my first <em>real</em> freelance project for a friend I grew up with.  She's an interior designer in New York, and this site is designed as a quasi-blog which she uses to promote products she sells for other companies.</p>  
			<p>The core of the site (especially the blog) uses Wok, a Python-based static HTML generator similar to Hyde.  Wok uses a combination of Jinja2 templates for generating the page structure, and Markdown for page content.  The base CSS is built using a customized version of Bootstrap.</p>
			<p>A special thanks to <a href="http://robmd.net/">Rob McGuire-Dale</a> for referring me to Wok, and helping me learn how to use it effectively.</p>
		</div>
		<div class="span8">
			<div id="carousel2" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<img src="/img/designicity-home.png" alt="Screenshot of the Designicity Home Page" />
					</div>
					<div class="item">
						<img src="/img/designicity-blog.png" alt="Screenshot of the Designicity Blog" />
					</div>
					<div class="item">
						<img src="/img/designicity-modal.png" alt="Screenshot of a modal window where users can share the page via various social media links" />
					</div>
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#carousel2" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#carousel2" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>	
	<br>
	<br>	
	<p class="lead">Below are samples of the work I've done for Enterprise Search in chronological order.</p>
	<p class="alert alert-info">The sites linked below are prototypes only, though they serve as samples of my web design/development skills.</p>	
	<h2>Boeing // Search 3.3</h2>
	<hr>
	<div class="row-fluid">
		<div class="span4">
			<p><b>Link</b>: <a href="http://search-3-3.dmbaughman.com" target="_blank">http://search-3-3.dmbaughman.com</a></p>
			<p><b>Release Date</b>: July, 2012</p>
			<p><b>Current Status</b>: Production</p>
			<p><b>Technologies Used</b>: HTML5, CSS3, jQuery, Responsive, ASP.NET, SharePoint, XSLT</p>
			<p><b>Comments</b>: Search 3.3 improved on the visual design of Search 3.1.  Instead of using the homepage almost exclusively as marketing space, I decided to put whitespace around the search box so that functionality retained its precedence on the site.</p>  
			<p>The reference materials on the previous site had way too much information and were rarely used, so I reduced those materials to 4 pages.  Each of these pages has a clean sub-navigation to quickly jump to the high-level topic of interest for more details.</p>
		</div>
		<div class="span8">
			<div id="carousel2" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<img src="/img/search_3.3_1.png" alt="Screenshot of Search 2.0 Homepage" />
					</div>
					<div class="item">
						<img src="/img/search_3.3_2.png" alt="Screenshot of User Help Page" />
					</div>
					<div class="item">
						<img src="/img/search_3.3_3.png" alt="" />
					</div>
					<div class="item">
						<img src="/img/search_3.3_4.png" alt="" />
					</div>					
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#carousel2" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#carousel2" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>	
	<br>
	<br>	
	<h2>Boeing // Search 3.1</h2>
	<hr>
	<div class="row-fluid">
		<div class="span4">
			<p><b>Link</b>: <a href="http://search-3-1.dmbaughman.com" target="_blank">http://search-3-1.dmbaughman.com</a></p>
			<p><b>Release Date</b>: N/A</p>
			<p><b>Current Status</b>: Prototype Only</p>
			<p><b>Technologies Used</b>: HTML5, CSS3, jQuery, Responsive</p>
			<p><b>Comments</b>: Search 3.1 was intended as the front-end for our new search engine, but it took so long for our infrastructure to be put in place that I ended up re-designing it before it could be implemented.</p>
			<p>This was the first responsive design that I will claim ownership for (search 3.0 was a hodgepodge of experiments in responsive/adaptive layout).  I designed the homepage (shown) to be like a marketing site for our service, with the idea of showcasing the improvements we were making to Search.</p>		
		</div>
		<div class="span8">
			<img src="/img/search_3.1_responsive.png" alt="Computer, tablet, and mobile devices showing responsive layout of site." />
		</div>
	</div>
	<br>
	<br>
	<h2>Boeing // Search 2.0</h2>
	<hr>
	<div class="row-fluid">
		<div class="span4">
			<p><b>Link</b>: <a href="http://search-2.dmbaughman.com" target="_blank">http://search-2.dmbaughman.com</a></p>
			<p><b>Release Date</b>: May 2011</p>
			<p><b>Current Status</b>: Retired</p>
			<p><b>Technologies Used</b>: (S)HTML, CSS, jQuery</p>
			<p><b>Comments</b>: Search 2.0 was the first re-design I did for Enterprise Search a few months after joining the group.  Prior to this, the search landing page our user/developer reference materials were completely separate, so it was difficult for users to get self-help on everyday topics.</p>  
			<p>The previous landing page was completely different from the rest of the site, so it was unclear that it was even the same site.  This design is simple, and was aimed at creating a more unified web presence for Enterprise Search.</p>
		</div>
		<div class="span8">
			<div id="carousel1" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
					<div class="active item">
						<img src="/img/search_2.0_1.png" alt="Screenshot of Search 2.0 Homepage" />
					</div>
					<div class="item">
						<img src="/img/search_2.0_2.png" alt="Screenshot of User Help Page" />
					</div>
					<div class="item">
						<img src="/img/search_2.0_3.png" alt="" />
					</div>
					<div class="item">
						<img src="/img/search_2.0_4.png" alt="" />
					</div>					
				</div>
				<!-- Carousel nav -->
				<a class="carousel-control left" href="#carousel1" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#carousel1" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>


</div> <!-- /container-fluid -->
{% endblock body %}