{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
	<h1>Work</h1>
	<hr>
	<div class="row-fluid">
		<div class="span4">
		</div>
		<div class="span8">
			<p class="lead">I currently work for <a href="http://boeing.com">Boeing</a> near Seattle.  I'm the lead designer for Enterprise Search, and we've been able to do a lot of fun design work as part of the new search engine that my group is implementing.</p>
			<p class="lead">I've just recently started doing freelance web design, which is way more fun.  It's so refreshing to work on projects where I'm not constrained by the lethargic environment of a large/old enterprise.</p>
		</div>
	</div>
	{% for subpage in site.categories['work']|sort(attribute='datetime', reverse=True) %}
		<br>
		<br>
		<h2>{{ subpage.title }}</h2>
		<hr>
		<div class="row-fluid">
			<div class="span4">
				<div class="{% for tag in subpage.tags %}{{ tag }} {% endfor %}">
					<div class="row-fluid">
						{% if subpage.link %}
							<p>
								<strong>Link</strong>: <a href="{{ subpage.link }}">{{ subpage.link }}</a>
							</p>
						{% endif %}
						{% if subpage.date %}						
							<p>
								<strong>Release Date</strong>: {{ subpage.date }}
							</p>
						{% endif %}

						{% if subpage.status %}						
							<p>
								<strong>Current Status</strong>: {{ subpage.status }}
							</p>
						{% endif %}

						{% if subpage.tags %}
							<p>
								<strong>Technologies Used</strong>: 
										{% for tag in subpage.tags %}
											{% if loop.last %}
												{{ tag }}
											{% else %}
												{{ tag }}, 
												{% endif %}
										{% endfor %}
							</p>
						{% endif %}
							
						{% if subpage.source %}
							<p>
								<strong>Source</strong>: <a href="{{ subpage.source }}">{{ subpage.source }}</a>
							</p>
						{% endif %}

						{{ subpage.content }}
					</div>
				</div>
			</div><!-- /.span4 -->
			<div class="span8">
				{% if subpage.carousel %}
					<div id="carousel-{{ subpage.title }}" class="carousel slide">
						<!-- Carousel items -->
						<div class="carousel-inner">
							{% for image in subpage.carousel %}
								{% if loop.first %}
									<div class="active item">
								{% else %}
									<div class="item">
								{% endif %}
										<img src="/img/{{ image }}" alt="Screenshot from the {{ subpage.title }} website" />
									</div>
							{% endfor %}
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#carousel-{{ subpage.title }}" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#carousel-{{ subpage.title }}" data-slide="next">&rsaquo;</a>
					</div><!-- /.carousel -->
				{% else %}
					<img src="/img/{{ subpage.image }}" alt="Screenshot from the {{ subpage.title }} website" />
				{% endif %}
			</div><!-- /.span8 -->
		</div>
	{% endfor %}
</div> <!-- /container-fluid -->
{% endblock body %}

{% block bottom %}
<script>
	$('.carousel').carousel();
</script>
{% endblock bottom %}