<h1>Work</h1>
<p class="lead">I currently work for Isis in Seattle. I'm the front-end developer (they call me "the web guy") on the marketing team, and have had a great opportunity to use some of the newest tools available for front-end development.</p>
<p class="lead">Prior to coming to Isis, I worked at Boeing for 5 years as a designer/developer on their Enterprise Search team and dabbled a little in freelance web design and development.</p>

<div ng-repeat="project in projects">
  <h2 class="page-header">{{project.name}}</h2>

  <img class="img-responsive" src="images/{{project.image}}" alt="">

</div>